body {
  font-family: "Trebuchet MS";
  background-color: #404040;
  color: white;
}
#top {
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  /*padding: 20px;*/
  border-bottom: 2px lightgrey solid;
  background-color: #303030;
  z-index: +100;
}
#top-right {
  position: inherit;
  top: 12px;
  right: 12px;
}
#left {
  position: fixed;
  width: 110px;
  left: 0;
  top: 60px;
  bottom: 0;
  padding-top: 10px;
  padding-left: 10px;
  border-right: 2px grey solid;
  background-color: #505050;
  color: #CCFF66;
}
#notifications-count {
  cursor: pointer;
}
#notifications-box {
  position: fixed;
  max-width: 250px;
  max-height: 300px;
  right: 0;
  top: 60px;
  /*padding: 10px;*/
}
#notifications-box:focus {
  outline: none;
}
#notifications-box div.unread {
  background-color: /*#ffc8c8*/#e2fffb;
}
#notifications-box div.read {
  background-color: #e9e9e9;
}
#notifications-box div:hover {
  background-color: #f0f0f0;
}
#notifications-box div a {
  background-color: inherit;
  color: grey;
}
/* A div above the #content-area */
#inner-top {
  position: fixed;
  /* add on border sizes */
  top: 62px;
  left: 122px;
  right: 0;
  height: 50px;
  padding-top: 6px;
  padding-right: 12px;
  background-color: #777;
}
#inner-top span {
  float: right;
  margin-top: 10px;
  color: white;
}
a#home {
  position: inherit;
  top: 12px;
  left: 12px;
  background-color: rgba(0,0,0,0);
}
#search-area {
  position: inherit;
  top: 12px;
  left: 145px;
}
#search-results {
  position: inherit;
  top: 60px;
  left: 145px;
  background-color: white;
  color: darkgrey;
}
a.search-result {
  display: block;
  background-color: inherit;
  color: grey;
}
#search-area input[type="radio"] {
  display: none;
}
#search-area input[type="radio"] + label {
  padding: 8px;
}
#search-area input[type="radio"]:checked + label {
  background-color: grey;
}
#content-area {
  position: absolute;
  top: 62px; /* content is below #top */
  left: 122px; /* content is to the right of #left */
  padding: 25px;
  /*padding-top: 45px;*/
  z-index: 0;
}
h1 {
  background-color: #08BDBD;
  box-shadow: 8px 8px #007D7D;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1, h2, h3 {
  display: inline-block;
}
a {
  display: inline-block;
  background-color: #772FAA;
  color: white;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
a:hover {
  color: #38EDED;
}
a.special {
  /*background-color: #FF1B2F;*/
  background-color: #F21B3F;
}
a.special:hover {
  color: #ED98ED;
}
table {
  border: none;
}
label, input {
  font-size: 18px;
  margin: 2px;
}
input {
  font-family: "Trebuchet MS";
  color: #404040;
  border: 2px solid #ccc;
  background-color: #FFFF9F;
  outline: none;
}
button {
  background-color: #00e673;
  color: white;
  border: none;
  /*border: 2px solid #F21B3F;*/
  width: 100px;
  height: 40px;
  float: right;
  cursor: pointer;
  font-family: "Trebuchet MS";
}
button:hover {
  background-color: #00b359;
  color: white;
}
input:focus, button:focus {
  box-shadow: 0 0 5px #04E824;
}
.error {
  background-color: rgba(255, 0, 43, 0.5);
}
.success {
  background-color: rgba(0, 255, 43, 0.5);
}
.error, .success {
  margin-top: 10px;
  padding: 16px;
  display: none;
}
.fixed {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.post {
  position: relative;
  background-color: #707070;  /* just darker than grey */
  width: 750px;
  padding: 20px;
  margin-top: 30px;
}
.post-info {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding-right: 10px;
}
a.post-user {
  display: block;
  margin-right: 0;
  color: #04E824;
  background-color: inherit;
  text-decoration: none;
}
a.post-user:hover {
  text-decoration: underline;
}
.post-content {
  display: block;
  margin-right: 80px;
}
.post-timestamp {
  display: block;
  color: #A0A0A0;
}
.dull {
  color: grey;
}
::selection {
  /*background: #4FFF4F;*/
  background: white;
  color: white;
}
